.menu {
    width: 100%;
    height: auto;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    

      @media (min-width: 900px){
        
        object-fit: cover;
        width: 100%;
        height:26rem;
      }
    
  }

  &__main{
    position: relative;
    width: 100%;
    height: auto;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: darken($color: white, $amount: 5%);
    margin: -6rem auto 0;
    }
  
    &__header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        font-family: "Shrikhand", "cursive";
        padding: 1rem 2rem 0 1rem;

    }
}

.heart-btn {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #9356dc;
    background-image: linear-gradient(#ff79da, #9356dc);
    cursor: pointer;
    margin-top: 3px;
  }
  .heart-btn i {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1px;
    font-size: 22px;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    color: #7e7e7e;
    background-color: #f2f2f2;
  }
  
  .heart-btn:hover i {
    opacity: 0;
  }
  
  .heart-btn:hover .on-hover {
    opacity: 1;
  }
  
  .heart-btn .on-hover {
    opacity: 1;
    background-color: #f2f2f2;
    mix-blend-mode: lighten;
  }


.liste{
    padding: 1rem;

    &__titre{
        text-transform: uppercase;
        position: relative;
        padding: 0 0 0.5rem 0;
        font-family: 'Roboto';
        font-weight: normal;  

        &::after{
            content: "";
            width: 3rem;
            height: .25rem;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: 0;        
        }
    }

    &__item {
        animation: slide-up 1s both;
        background-color: white;
        padding: 1rem;
        display: flex;
        border-radius: 0.75rem;
        margin: 1rem 0;
        box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        cursor: pointer;
        max-width: 100%;
        position: relative;
        justify-content: space-between;
        cursor:pointer;

        &:hover{
            .liste__validation{
                opacity:1;
                margin-right: -1rem;
            }

            .liste__icone i{
                animation: rotate 0.5s 0.1s both;
            }
        }
    }

    &__texte{
        font-family: 'roboto';
        white-space: nowrap;
        overflow: hidden;     
        flex: 1;    
    }

    &__plat{
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; 
    }

    &__description {
        margin: 0;
        padding-top:5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__prix {  
        justify-content: flex-end;   
        align-items: flex-end;
        padding-right: 30px;
        padding-top: 30px;
        font-family: 'roboto';
        font-weight: bolder;
       
    }

    &__validation {
        background-color: #99e2d0;
        margin: -1rem -5rem -1rem 0rem;
        width: 4rem;
        align-items: center;
        justify-content: center;
        transition-duration: 0.5s;    
        display:flex;
    }

    &__icone {
        height: 1.6rem;
        width: 1.6rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        color:#99e2d0;
    }

    &__icone i {
        transition-duration: 0.5s; 
    }

}

.menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    > button {
      @include Pink-button();
     
    }
    :hover {
      @include hover-button();
      filter: sepia(20%);
    }
  }




@keyframes rotate {
    0% {
        transform: rotate(0);
}
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.liste:nth-child(1) .liste__item:nth-of-type(1) {
    animation-delay: 0.1s;
}

.liste:nth-child(1) .liste__item:nth-of-type(2) {
    animation-delay: 0.2s;
}

.liste:nth-child(1) .liste__item:nth-of-type(3) {
    animation-delay: 0.3s;
}

.liste:nth-child(2) .liste__item:nth-of-type(1) {
    animation-delay: 0.4s;
}

.liste:nth-child(2) .liste__item:nth-of-type(2) {
    animation-delay: 0.5s;
}

.liste:nth-child(2) .liste__item:nth-of-type(3) {
    animation-delay: 0.6s;
}

.liste:nth-child(3) .liste__item:nth-of-type(1) {
    animation-delay: 0.7s;
}

.liste:nth-child(3) .liste__item:nth-of-type(2) {
    animation-delay: 0.8s;
}

.liste:nth-child(3) .liste__item:nth-of-type(3) {
    animation-delay: 0.9s;
}

